* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  #00b3ff;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    line-height: 1;
}

a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    margin: auto;
}

a:hover:after {
    width: 100px;
}

a:active:after {
    background-color: black;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 35px;
}

header h1 {
    opacity: 0;
    color: white;
    line-height: 80px;
    font-size: 45px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

header {
    display: block;
    background-color: black;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

header > div {
    position: absolute;
    display: block;
    background-color: none;
    width: 100%;
    height: 40px;
    border: 3px dashed white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.4);
    height: 90px;
}

header:hover > div {
    height: 90px;
}

header:hover h1 {
    opacity: 1;
}

.portfolio-titles {
    padding: 20px 0 20px 0;
}

.portfolio-titles img {
    width: 2%;
    height: 2%;
    margin: auto;
}

.portfolio-title {
    display: block;
    padding: 0;
}

.projects {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 200px;
    margin: auto;
}

.project-sections > div, .project-sections > input { 
    display: none; 
    height: 300px;
    border: 3px solid white; 
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: white;
}

.project-sections label { 
    padding: 10px;
    line-height: 37px; 
    cursor: pointer; 
    position: relative;
    background-color: #00b3ff;
    border: 3px solid white; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.project-sections input[type="radio"]:checked + label { 
    background-color: white;
    border-top-left-radius: 0;
    color: #00b3ff;
}

.project-sections > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.project-sections > input:nth-of-type(2):checked ~ div:nth-of-type(2) { 
    display: block; 
    padding: 15px; 
}

@media screen and (max-width: 480px) {
    
    .project-sections {
        font-size: 12px;
    }

}