* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  #00b3ff;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear {
    clear: both;
}

a.title-link {
    text-decoration: none;
    color: white;
    line-height: 1;
}

a.title-link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    margin: auto;
}

a.title-link:hover:after {
    width: 100px;
}

a.title-link:active:after {
    background-color: black;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 35px;
}

h2 {
    font-weight: lighter;
}

header h1 {
    opacity: 0;
    color: white;
    line-height: 80px;
    font-size: 45px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

header {
    display: block;
    background-color: black;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

header > div {
    position: absolute;
    display: block;
    background-color: none;
    width: 100%;
    height: 40px;
    border: 3px dashed white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.4);
    height: 90px;
}

header:hover > div {
    height: 90px;
}

header:hover h1 {
    opacity: 1;
}

.portfolio-titles {
    padding: 20px 0 20px 0;
}

.portfolio-titles img {
    width: 2%;
    height: 2%;
    margin: auto;
}

.portfolio-title {
    display: block;
    padding: 0;
}

/*==================================================
 * SHADOW-EFFECT
 * ===============================================*/
.shadow-effect {
    position: relative;
}
.shadow-effect:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 12px;
    right: 2px;
    left: auto;
    width: 50%;
    top: 90%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

/*==================================================
 * /SHADOW-EFFECT
 * ===============================================*/

.projects {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 200px;
    margin: auto;
}

.project-sections > div, .project-sections > input { 
    display: none; 
    height: 300px;
    border: 3px solid white; 
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: white;
}

.project-sections label { 
    padding: 10px;
    line-height: 37px; 
    cursor: pointer; 
    position: relative;
    background-color: #00b3ff;
    border: 3px solid white; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    transition: 0.5s;
}

.project-sections input[type="radio"]:checked + label { 
    background-color: white;
    border-top-left-radius: 0;
    color: #00b3ff;
}

.project-sections > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.project-sections > input:nth-of-type(2):checked ~ div:nth-of-type(2) { 
    display: block; 
    padding: 15px;
    height: 305px;
}

.project-sections .first-section .projects {
    text-align: center;
    width: 50%;
    float: left;
    border: 3px dashed #00b3ff;
    border-radius: 8px;
    border-top-left-radius: 0;
    padding: 20px;
    min-height: 270px;
    color: #00b3ff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.project-sections .first-section .projects:hover {
    color: black;
}

.project-sections .first-section .projects img {
    height: 50%;
    width: 50%;
    border: 3px solid #00b3ff;
    opacity: 0.7;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.project-sections .first-section .projects:hover img {
    opacity: 1;
    border-color: black;
}

.project-sections .first-section .first-project {
    width: 50%;
    float: left;
    border-top-right-radius: 0;
    border-right: none;
    border-bottom-right-radius: 0;
}

.project-sections .first-section .second-project {
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 700px) {

    .project-sections .first-section .projects {
        min-height: 230px;
    }

    .project-sections > input:nth-of-type(1):checked ~ div:nth-of-type(1),
    .project-sections > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
        height: 260px;
    }

}

@media screen and (max-width: 480px) {
    
    .project-sections {
        font-size: 12px;
    }

    .project-sections .first-section .projects {
        min-height: 120px;
    }

    .project-sections .first-section .projects h2 {
        font-size: 12px;
    }

    .projects {
        max-height: 135px;
    }

    .project-sections > input:nth-of-type(1):checked ~ div:nth-of-type(1),
    .project-sections > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
        height: 170px;
    }

}

@media screen and (max-width: 320px) {

    .project-sections {
        font-size: 10px;
    }

    .project-sections .first-section .projects {
        min-height: 100px;
    }

    .project-sections .first-section .projects h2 {
        font-size: 10px;
    }

    .project-sections > input:nth-of-type(1):checked ~ div:nth-of-type(1),
    .project-sections > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
        height: 150px;
    }

}